@media(max-width:998px){
    .secao-com-texto {
        padding:40px 40px ;
    }
    .secao-com-texto p,
    .secao-com-texto.onde-estamos p{
        width: 100%;
    }
}


@media (max-width:768px){

    .cabeçalho .logo{
        display: block;
        margin: 0 auto;
    }
    .cabeçalho nav{
        display: block;
        position: static;
        text-align: center;
    }
    .cabeçalho ul li{
        display: block;
        padding: 15px;
    }
    .painel h2{
        font-size: 45px;
    }   
    .contato{
        background-image:none;
        background-color:#D3AE71 ;

    }
    .contato .texto{
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    } 
    .contato h2{
        margin-bottom: 50px;
    }

}
@media(max-width:720px){
    .ladrilhos .grande,
    .ladrilhos .medio{
        width: 100%;
    }
    .ladrilhos .pequeno.grau,
    .ladrilhos .pequeno{
        width: 50%;
 }
 .rodape{
    background-image: none;
    background-color: black;
    text-align: center;
 }
 .rodape .logo{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
 .rodape ul{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 100px;
}
.rodape ul li {
    display: block;
    padding: 17px;
}
.rodape .redes-sociais{
    float: none;
    margin-bottom: -30px;
}



}

@media(max-width:375px){
    .ladrilhos .pequeno.grau,
    .ladrilhos .pequeno{
        width: 100%;
    }
} 
@media(max-width:425px){
    .secao-com-texto h2,
    .secao-com-texto.onde-estamos h2{
        font-size: 30px;
    }
    .painel h2{
        font-size: 28px;
    }
}
