html{
    font-size: 62.5;
}
body{
    background-color: white;

} 
.cabeçalho{ 
    padding: 30px 15px;
    position: relative;
}
.cabeçalho .logo{
    background: url("./img/logo.jpg") no-repeat center center;
    width: 85px;
    height: 85px;
    display: inline-block;
}
.cabeçalho .logo h1{
    font-size: 0;
}
.cabeçalho nav{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 25px;
}
.cabeçalho ul li{
    display: inline-block;
    padding: 30px;
}
.cabeçalho ul li a:hover{
    font-weight: bold;
}
.painel{
    background: url("./img/painel.jpg") center center no-repeat;
    height: 600px;
}
.painel h2{
    color: white ;
    font-weight: 400;
    font-size: 50px;
    font-family:'Source Serif Pro' ;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY( -50%);
}
.secao-com-texto{
    clear:both;
    padding: 153px;
    text-align: center;
}
.secao-com-texto img{
    margin-bottom: 70px;
    height: 170px;
    width: 170px;
}
.secao-com-texto h2{
    margin-bottom: 37px;
    font-size: 45px;
    font-weight: 600;

}
.secao-com-texto p{
    font-size:18px;
    width: 702px;
    color:rgb(168, 168, 168);
    margin: 0 auto;

}
.secao-com-texto.onde-estamos p{
    font-size: 28px;
    width: 350px;
    
}
.ladrilhos div{
    float:left;
}
.ladrilhos .grande{
    background:url("./img/4.jpg")center center no-repeat ;
    height: 600px;
    width: 50%;
}
.ladrilhos .pequeno.grau{
    background: url("./img/3.jpg") center center no-repeat;
    height: 300px;
    width: 25%;
    }
.ladrilhos .pequeno{
        background: url("./img/2.jpg") center center no-repeat;
        height: 300px;
        width: 25%;
}
.ladrilhos .medio{
    background: url("./img/1.jpg");
    height: 300px;
    width: 50%;
}
.contato{
    background: url("./img/fundo-contato.jpg") center center no-repeat;
    height: 600px;
    width: 100%;
    color: white;
    position: relative;
    clear: both;
}
.contato h2{
    font-size: 45px;
    font-weight: 600;
}
.contato address{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.contato .texto{
    position: absolute;
    top: 30%;
    left:70% ;
}
.rodape {
    padding: 30px;
    background: url("img/fundo-rodape.jpg")center center no-repeat;
    font-size: cover;
}
.rodape ul {
    float: right;    
    margin-top:30px ;
}

.rodape ul li{ 
    padding: 15px;
    display: inline-block;    
}
    .rodape ul li a{
    color: white;
}
.rodape ul li a:hover{
    font-weight: bold;
}
.rodape .copyright{
    margin-top:40px;
    color: white;
}
.rodape .redes-sociais .fecebook,
.rodape .redes-sociais .instagram{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.rodape .redes-sociais{
float: right;
clear: both;
}
.rodape .conteudo-de-baixo{
    margin-top: 40px;
}



